@import "reset";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

/* =Template
-------------------------------------------------------------- */
* {
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

.outer-container-row {
	@include outer-container();
    width:100%;
    margin:0 auto;
}

.page-wrap {
	float: right;
	width: 100%;
	transition: width 0.3s ease;
	background-color: #fff;
}

/* =Header:Responsive Drawer
-------------------------------------------------------------- */
#mobile-main-navigation {
  
  	/* Collapsed */
	width: 0; 

	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;

	transition: width 0.3s ease;

	border: 0.063em solid;

	&:target {
		width: 54%;

		+.page-wrap {
	 		width: 46%;
		}
	}

	.scroll-box {
		overflow-y: scroll;
		overflow-x: hidden;
		height: 100%;
	}
}