* {
  font-family: 'Lato', sans-serif; }

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal; }

ol, ul {
  list-style: none; }

blockquote {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

a img {
  border: none; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 1280px;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 9999; }
  @media screen and (max-width: 480px) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
      background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
      background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%);
      background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 20%, transparent 20%, transparent 26.66667%, #eee 26.66667%, #eee 46.66667%, transparent 46.66667%, transparent 53.33333%, #eee 53.33333%, #eee 73.33333%, transparent 73.33333%, transparent 80%, #eee 80%, #eee 100%, transparent 100%); } }
  @media screen and (min-width: 600px) and (max-width: 768px) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eee 12.90323%, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eee 38.70968%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eee 64.51613%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eee 90.32258%, #eee 100%, transparent 100%);
      background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eee 12.90323%, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eee 38.70968%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eee 64.51613%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eee 90.32258%, #eee 100%, transparent 100%);
      background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eee 12.90323%, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eee 38.70968%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eee 64.51613%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eee 90.32258%, #eee 100%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eee 12.90323%, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eee 38.70968%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eee 64.51613%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eee 90.32258%, #eee 100%, transparent 100%);
      background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 9.67742%, transparent 9.67742%, transparent 12.90323%, #eee 12.90323%, #eee 22.58065%, transparent 22.58065%, transparent 25.80645%, #eee 25.80645%, #eee 35.48387%, transparent 35.48387%, transparent 38.70968%, #eee 38.70968%, #eee 48.3871%, transparent 48.3871%, transparent 51.6129%, #eee 51.6129%, #eee 61.29032%, transparent 61.29032%, transparent 64.51613%, #eee 64.51613%, #eee 74.19355%, transparent 74.19355%, transparent 77.41935%, #eee 77.41935%, #eee 87.09677%, transparent 87.09677%, transparent 90.32258%, #eee 90.32258%, #eee 100%, transparent 100%); } }
  @media screen and (min-width: 800px) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100%, transparent 100%);
      background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100%, transparent 100%);
      background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100%, transparent 100%);
      background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.38298%, transparent 6.38298%, transparent 8.51064%, #eee 8.51064%, #eee 14.89362%, transparent 14.89362%, transparent 17.02128%, #eee 17.02128%, #eee 23.40426%, transparent 23.40426%, transparent 25.53191%, #eee 25.53191%, #eee 31.91489%, transparent 31.91489%, transparent 34.04255%, #eee 34.04255%, #eee 40.42553%, transparent 40.42553%, transparent 42.55319%, #eee 42.55319%, #eee 48.93617%, transparent 48.93617%, transparent 51.06383%, #eee 51.06383%, #eee 57.44681%, transparent 57.44681%, transparent 59.57447%, #eee 59.57447%, #eee 65.95745%, transparent 65.95745%, transparent 68.08511%, #eee 68.08511%, #eee 74.46809%, transparent 74.46809%, transparent 76.59574%, #eee 76.59574%, #eee 82.97872%, transparent 82.97872%, transparent 85.10638%, #eee 85.10638%, #eee 91.48936%, transparent 91.48936%, transparent 93.61702%, #eee 93.61702%, #eee 100%, transparent 100%); } }

/* =Template
-------------------------------------------------------------- */
* {
  box-sizing: border-box; }

html, body {
  min-height: 100%;
  overflow-x: hidden; }

.grid {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  .grid::after {
    clear: both;
    content: "";
    display: block; }
  .grid .row {
    padding: 2.12766%; }

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease; }
  .page-wrap p {
    color: #6D7F7A;
    padding: 1em 0; }

@media screen and (max-width: 480px) {
  .row {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%; }
    .row:last-child {
      margin-right: 0; } }
@media screen and (min-width: 600px) and (max-width: 768px) {
  .row {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 100%; }
    .row:last-child {
      margin-right: 0; } }
@media screen and (min-width: 800px) {
  .row {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 100%; }
    .row:last-child {
      margin-right: 0; } }
/* =Header:Main header of the website
	Components:
		- Logo
		- Desktop Menu
		- Media links
		- Search input
-------------------------------------------------------------- */
#main-navigation {
  overflow: visible; }
  #main-navigation #main-navigation-menu a {
    display: block;
    padding: 0 0.8em;
    font-size: 0.8em;
    height: 3.725em;
    line-height: 3.725em; }
  #main-navigation #main-navigation-menu ul {
    overflow: visible; }
    #main-navigation #main-navigation-menu ul li {
      float: left; }
  #main-navigation #main-navigation-menu .dropdown {
    position: relative;
    display: inline-block; }
    #main-navigation #main-navigation-menu .dropdown .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px; }
      #main-navigation #main-navigation-menu .dropdown .dropdown-content a {
        height: auto;
        line-height: 1.2em;
        padding: 1em 1em; }
    #main-navigation #main-navigation-menu .dropdown:hover .dropdown-content {
      display: block; }
  @media screen and (min-width: 600px) and (max-width: 768px) {
    #main-navigation #main-navigation-menu {
      display: none; } }
  @media screen and (max-width: 480px) {
    #main-navigation #main-navigation-menu {
      display: none; } }

/* =Header:Responsive Drawer
-------------------------------------------------------------- */
#mobile-main-navigation {
  border-right: 0.6em solid #E80C7A;
  /* Collapsed */
  width: 0;
  position: fixed;
  top: 0;
  left: -0.6em;
  height: 100%;
  transition: width 0.3s ease; }
  #mobile-main-navigation:target {
    width: 54%;
    left: 0; }
    #mobile-main-navigation:target + .page-wrap {
      width: 46%; }
  #mobile-main-navigation .scroll-box {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    position: relative; }
  #mobile-main-navigation #close-mobile-menu {
    position: absolute;
    top: 0;
    right: -3%; }

#open-mobile-menu, #close-mobile-menu {
  display: inline-block;
  background-color: #E80C7A;
  color: #fff;
  border-radius: 0.3em;
  padding: 0.6em;
  z-index: 999; }

@media screen and (min-width: 800px) {
  #open-mobile-menu {
    display: none; } }

/*# sourceMappingURL=style.css.map */
