/* =Header:Main header of the website
	Components:
		- Logo
		- Desktop Menu
		- Media links
		- Search input
-------------------------------------------------------------- */
#main-navigation {
	overflow:visible;
	@import "mainnavigationmenu"	
}
@include media($desktop) {
	body.smaller {
		#main-navigation {
			position: fixed;
			width: 100%;
			z-index: 999;
			top: 0;
		}
	}	
}