#main-navigation-menu {

	a {
		display: block;
		padding: 0 0.8em;
		font-size: 0.8em;
	    height: 3.725em;
	    line-height: 3.725em;
	}

	ul {
		overflow:visible;

		li {
			float: left;
		}
	}

	.dropdown {
		position: relative;
		display: inline-block;

		.dropdown-content {
			display: none;
			position: absolute;
			min-width: 160px;

   			background-color: $dropdown-content-bg-color;
    		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

			a {
				height: auto;
				line-height: 1.2em;
				padding: 1em 1em;
			}
		}

		&:hover {
			.dropdown-content {
				display: block;
			}
		}
	}
}
@include media($tablet) {
	#main-navigation-menu {
		display: none;
	}
}
@include media($mobile) {
	#main-navigation-menu {
		display: none;
	}
}